/*Colando o label no input*/
label {
    margin-bottom: 0;
    margin-top: .5rem;
}

/*Colocando margin-top nos botões do bootstrap */
.btn-block{
    margin-top: 1rem;
}

body .printFields{
    display: none;
}

body .container{
    padding-top: 2rem;
}

/*CSS para a função Print*/
@media print{
    body{
        font: normal 400 26px arial, sans-serif;
        line-height: 90%;
    }

    body .printFields{   
        display: block;   
        margin-bottom: 10rem;
    }
}

@media screen and (max-width:600px){
    body .container .row .col-center h3{
        font-size: 1.2rem;
    }

    body .container .row .col-inputs legend{
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .btn-block{
        margin-top: .3rem;
    }
}

/* Espaçamento das duas colunas principais, onde os inputs estão */
.col-inputs{
    margin-top: 2rem;
}

/* Centralizando conteúdo dentro da div com logo e titulo */
.col-center{
    text-align: center;
    margin-top: 1rem;
}






